h1{
    text-align: center;
    vertical-align: middle;
    color: blue;
}
td{
    border: 5px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family:Arial, Helvetica, cursive, sans-serif;
    font-size: 70px;
    cursor: pointer;
}
table{
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    
}
table tr:first-child td{
    border-top: 0;
}
table tr:last-child td{
    border-bottom: 0;
}
table tr td:first-child{
    border-left: 0;
}
table tr td:last-child{
    border-right: 0;
}
.endGame{
    display: none;
    width: 250px;
    height: 100px;
    top: 140px;
    background-color: rgba(0, 0, 206, 0.4);;
    position: absolute;
    left: 50%;
    margin-left: -120px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 2em;
    text-align: center;
    color: white;
    border-radius: 7px;
}
